migrated
.git
files/
caches/
node_modules
.env*
!.env
!.env*.example
config.json
dist/
prisma/migrations/*
.env
.yarn
.yarnrc.yml

.devspace/

# Ignore DevSpace cache and log folder
.devspace/
.tool-versions
bot/state.json
sample-log
